node_modules
dist
src-tauri/target
src-tauri/gen/android/.gradle
src-tauri/gen/android/**/build
src-tauri/gen/android/**/.cxx
src-tauri/gen/apple/**/build
src-tauri/gen/apple/**/DerivedData
.git
.vscode
.idea
*.log
./node_modules
./src-tauri/target
./dist